body{
    margin: 0;  
    padding: 0;
    background-image: url('homepage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    text-align: center;
    font-size: 60px;
    color: #FF5733;
    font-family:Lucida Bright;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
  background-color: #0A62C6;
  color: white;
}


/*marquee*/
marquee{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: aliceblue;
    background-color: #0A62C6;
}
button {   
       background-color: #159E17;   
       width: 382px;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
}
button:hover {
    background-color: #0A62C6;
    color: white;
}
select, input[type=password], input[type=date] {   
    width: 250px;    
    margin: 5px 0 22px 0;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}   
.cancelbtn {   
    width: 382px;;   
    padding: 10px 18px;  
    margin: 5px 0 22px 0;
    background-color:#ED6060;
}
.cover{
    text-align: center;
    padding: 70px;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    font-size: 20px;
}
.font{
    text-align: center;
    font-family: sans-serif;
    font-size: 300%;
    font-weight: 600;
    color: white;
    padding: 30px;
    background-color: rgba(0,0,0, 0.5);
}
label{
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
    color: white;
}
footer{
    position: absolute;
    margin-bottom: auto;
    background-color: #f0f8ff;
    width: 100%;
    text-align: center;
}